/*
create a course card which looks soothing to the eye
*/

.review_card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    transition: all 0.3s ease-in-out;
    gap: 10px;
}

.review_card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.author_rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.author_rating h4 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.course_review {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.author_name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.author_role p {
    color: grey;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.sentiment-card {   
    background-image: linear-gradient(to right, #00ff4c 0%, white 50%, #ff0000 100%);
    border-radius: 10px;
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 25px;
    padding: 25px;
    height: 50px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    gap: 10px;
}

.sentiment-card p {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 500;
}
